{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        <div class="mb-4">
            <h2>Cadastro de Atividades</h2>
            <p>(*) Campos obrigatórios</p>
        </div>

        <form method="POST" class="needs-validation " novalidate>
            {% csrf_token %}
            <div class="card shadow-md" style="max-width: 75%;">
                <div class="card-body" >
                    <div class="row g-3 mb-3">
                        <div class="col">
                            <label class="form-label">Ativo</label>
                            <select class="form-select" name="active">
                                <option value="0">Sim</option>
                                <option value="1">Não</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label">Profissional*</label>
                            <select class="form-select" name="id_user">
                                <option value="">Selecionar Profissional</option>
                                <option value="JS">JS</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label">Cliente</label>
                            <select class="form-select" name="client_name">
                                <option value="">Selecionar Cliente</option>
                                <option value="JS">JS</option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-3 mb-3">
                        <div class="col">
                            <label class="form-label">Projeto</label>
                            <select class="form-select" name="name_project">
                                <option value="">Selecionar Projeto</option>
                                <option value="JS">JS</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label">Atividade*</label>
                            <select class="form-select" name="activity_name">
                                <option value="">Selecionar Atividade</option>
                                <option value="JS">JS</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label">Subatividade*</label>
                            <select class="form-select" name="subactivity_name">
                                <option value="">Selecionar Subatividade</option>
                                <option value="JS">JS</option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-3 mb-2 align-items-center justify-content-center">
                        <div class="col">
                            <label class="form-label">Horas Vendidas</label>
                            <input type="number" class="form-control" name="hour_act">
                        </div>
                        <div class="col">
                            <label class="form-label">Horas Adicionais</label>
                            <input type="number" class="form-control" name="hour_add">
                        </div>
                        <div class="col">
                            <label class="form-label">Hora Entrada</label>
                            <input type="number" class="form-control" name="hour_in">
                        </div>
                        <div class="col">
                            <label class="form-label">Horas Saída</label>
                            <input type="number" class="form-control" name="hour_out">
                        </div>
                    </div>

                    <div class="mb-1 col">
                        <label class="form-label">Descrição Atividade</label>
                        <textarea class="form-control" name="desc_activity" rows="4"></textarea>
                    </div>

                    <div class="mt-4">
                        <input type="submit" class="btn btn-primary" value="Adicionar">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATF/JJY0S3mNKa0MUJ4wYm4O4w8gP6LCJ/LLqqJ0QVoH3F1z7QAB7pm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"></script>
</body>
</html>
