{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="">
<div class="p-5">
    <h2 > Atividades </h2>
    
    {% comment %} Botao adicionar atividade {% endcomment %}
    <a href="{% url 'add' %}" class="btn btn-primary mb-2">
        Adicionar Atividade
    </a>
    
        


<div class="row">
    <div class="col-lg-12 mb-2">
        {% comment %} formulario  {% endcomment %}
        <form method="get">
            <div class="row align-items-center">
                <div class="col-auto">
                    <label for="client_name"> Cliente </label>
                </div>
                <div class="col-auto">
                    {% comment %} select clientes {% endcomment %}
                    <select class="form-control" style="width: 300px" name="client_name">
                        <option value=""> Todos </option>
                        <option value=""> JS </option>
                    </select>
                </div>
                <div class="col-auto">
                    <div class="custom-control custom-switch border-0">
                        <!-- Switch ativo/inativo -->
                        <input class="custom-control-input" type="checkbox" id="check" onchange="toggleStatus()">
                        <label class="switch" for="check">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="col-auto">
                    {% comment %} botao filtrar {% endcomment %}
                    <button type="submit" class="btn btn-primary"> Filtrar </button>
                </div>
            </div>
        </form>
    </div>
</div>
    



<div class="row  layout-top-spacing" id="cancel-row">
    <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
        <div class="widget-content  widget-content-area br-6">
            <div class="table-responsive card card-body border-0 shadow bg-white mb-4 mt-4 ">
                {% comment %} tabela com JS {% endcomment %}
                <table id="zero-config" class="table  table-hover   " style="width:100%">
                    {% comment %} titulo da tabela {% endcomment %}
                    <thead>
                        <tr>
                            <th> Projetos</th>
                            <th> Cliente</th>
                            <th> Atividade</th>
                            <th> Funcionários</th>
                            <th> Controle</th>
                            <th> Ativo</th>
                            <th> Ações</th>
                        </tr>
                    </thead>
                    {% comment %} corpo da tabela {% endcomment %}
                    <div class=" d-flex align-items-center justify-content-center">
                        <tbody>
                            <tr>
                                <td> JS</td>
                                <td> JS</td>
                                <td> JS</td>
                                <td> JS</td>
                                <td> JS</td>
                                <td> JS</td>
                                <td> 
                                    <i class="btn btn-primary bi bi-pencil-square" ></i>
                                    <i class="btn btn-danger bi bi-trash"></i>
                                    <i class="btn btn-secondary bi bi-eye"></i>
                                </td>
                            </tr>
                            <tr>
                                <td> JS</td>
                                <td> JS</td>
                                <td> JS</td>
                                <td> JS</td>
                                <td> JS</td>
                                <td> JS</td>
                                <td> 
                                    <i class="btn btn-primary bi bi-pencil-square"></i>
                                    <i class="btn btn-danger bi bi-trash"></i>
                                    <i class="btn btn-secondary bi bi-eye"></i>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>
    
</div>
</body>
</html>